<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Live demonstrations</title>

<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/homepagestyles.css" rel="stylesheet">
<script src="/static/js/hints.js"></script>
<!--Icons-->
<script src="/static/js/lumino.glyphs.js"></script>

</head>
<body>
<div class="wrapper">
  <section class="hero">
    <header>
      <div class="container">
        <nav class="navbar navbar-light navbar-toggleable-sm">
          <a href="#" class="navbar-brand mb-0">CoWork</a>

          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#headerNav" aria-controls="headerNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div id="headerNav" class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#sec-about">About</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#sec-features">Features</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#sec-pricing">Pricing</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#sec-testimonials">Testimonials</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#sec-contact">Contact</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>

    <div class="jumbotron jumbotron-fluid mb-0">
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-md-10 col-lg-6">
            <h1 class="display-5">The Coolest Co-Working Space in Prague</h1>

            <p class="lead">Where you choose to work has impact on your productivity and creativity. It also says a lot about your business. We are the right office space.</p>

            <p class="lead">
              <a class="btn btn-primary btn-lg" href="#sec-pricing" role="button">Reserve Your Spot</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    
  </section>
</body>
